.App {
	width: 50%;
	text-align: center;
}

.header {
	float: left;
	text-align: left;
}

.job-container {
	border-radius: 8px;
	margin: 20px;
	height: 15vh;
	width: 40vw;
	background-color: maroon;
}

.job-company {
	color: white;
	position: relative;
	text-align: left;
	margin-left: 20%;
	margin-bottom: 30px;
	top: 20%;
}

.job-title {
	color: white;
	text-align: left;
	margin-left: 20%;
	font-size: 80%;
}

.delete-button {
	float: right;
	margin-right: 20px;
	border-radius: 0%;
	padding: 0;
	border: none;
	border-radius: 50%;
	filter: invert(100%);
	background: rgb(73, 73, 73);
}

.delete-button svg {
	filter: none;
}

.delete-button:hover {
	filter: none;
	background: white;
}

.input-form label {
	display: block;
	margin: 2%;
}

.input-form label:first-child {
	margin: 2%;
	margin-right: 15%;
}
